html {
  background-color: #fff;
  padding: 40px;
}
.container {
  background: #eedaf2;
  padding: 20px;
  max-width: 600px;
  border-radius: 10px;
}
#searchengine {
  text-align: center;
  color: #eedaf2;
}
.searchbutton {
  border-color: #000;
  background-color: #9a24b1;
  border-radius: 10px;
  box-shadow: 3px 3px 8px #888888;
}
.searchbutton:hover {
  background-color: #eedaf2;
  border-radius: 10px;
}
#temperature {
  font-size: 50px;
  font-weight: bold;
  color: #000;
  text-align: left;
}
.units {
  font-weight: bold;
  color: #000;
  text-align: top;
}
h1 {
  color: #000;
  text-align: center;
  background-color: #eedaf2;
  font-weight: bold;
  font-size: 30px;
  text-transform: capitalize;
}
.wkdays {
  font-weight: bold;
  font-size: 14px;
}
#day1 {
  max-width: 80px;
}
.coldtemp {
  font-size: 14px;
  color: #8d79b5;
  margin-top: 0;
}
.hottemp {
  font-size: 20px;
  font-weight: bold;
}
ul {
  padding: 0;
  margin: 0;
}
.details {
  list-style-type: none;
  font-size: 14px;
  font-style: italic;
  color: #8d79b5;
}
.date {
  font-size: 12px;
  color: #8d79b5;
  font-style: italic;
}
.description {
  font-size: 14px;
  color: #8d79b5;
  font-weight: bold;
  text-transform: capitalize;
}
.info {
  list-style-type: none;
  font-size: 11px;
  color: #8d79b5;
  text-transform: capitalize;
}
.author {
  text-align: center;
  color: #9a24b1;
}
